/* 最外层容器 */
.jd_layout{
	width: 100%;
	min-height: 800px;
	background-color: #eee;
}
/* 顶部通栏 */
.jd_header{
	width: 100%;
	height: 40px;
	background: rgba(201,20,35,0);
	position: fixed;
	left: 0;
	top: 0;
	padding-left: 70px;
	padding-right: 60px;
	z-index: 999;
}
.jd_header .header_log{
	position: absolute;
	left: 6px;
	top: 2px;
	width: 60px;
    height: 36px;
	background-image: url('../images/sprites.png');
	background-position: 0 -103px;
	background-repeat: no-repeat;
	background-size: 200px 200px;


}
.jd_header .header_glass{
	position: absolute;
	left: 75px;
	top: 10px;
	width:20px;
	height:20px;
	background-image: url('../images/sprites.png');
	background-position: -60px -109px;
	background-repeat: no-repeat;
	background-size: 200px 200px;
}
.jd_header .header_search{
	/* display:block; */
	width: 100%;
	height: 30px;
	margin-top: 5px;
	border-radius: 15px;
	padding-left: 30px;


}
.jd_header .header_login{
	position: absolute;
	right: 10px;
	top: 0px;
	line-height: 40px;
	color: white;
	font-size: 17px;

}
/* 轮播图 */
.jd_banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.banner_images{
	width: 1000%;
	transform: translateX(-10%);
}
.banner_images li{
	float: left;
	width: 10%;

}
.banner_images li a{
	display: block;
	width: 100%;
}
.banner_images li a img{
	display: block;
	width: 100%;
}
.banner_index{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -44px;
}
.banner_index li{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid white;
	margin-left: 5px;
}
.banner_index li.current{
	background-color: white;
}
/* 导航栏 */
.jd_nav{
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.jd_nav ul{
	width: 100%;
	padding-top: 5px;
}
.jd_nav ul li{
	float: left;
	width: 25%;
}
.jd_nav ul li a{
	width: 100%;
	display: block;
}
.jd_nav ul li a img{
	width: 60%;
	display: block;
	margin: 0 auto;
}
.jd_nav ul li a p{
	text-align: center;
	padding: 5px 0;
	color: gray;
}
/* 主要内容部分 */
.jd_main{
	width: 100%;
	padding: 0 5px;
	margin-top: 10px;
}
.jd_main .main_content{
	width: 100%;
	margin-bottom: 5px;
	background-color: white;
	min-height: 150px;
	box-shadow: 0 0 2px gray;
}
.jd_main .content_top{
	height: 32px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.jd_main .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(1){}
.jd_main .main_content:nth-child(1) .content_top{
	border-bottom: none;
}
.main_content:nth-child(1) .content_top span{
	float: left;
	background-image: url('../images/seckill-icon.png');
	background-size: 20px 25px;
	margin-top: 3.5px;
	margin-left: 5px;
	width: 20px;
	height: 25px;
}
.main_content:nth-child(1) .content_top p{
	line-height: 32px;
	 margin-left: 5px;
	 float: left;
	 color: rgb(201,21,35);
}
.main_content:nth-child(1) .content_top ul{
	float: left;
	height: 32px;
	margin-top: 8.5px;
	
}
.main_content:nth-child(1) .content_top ul li{
	float: left;
	background-color: black;
	width: 15px;
	height: 15px;
	margin-left: 3px;
	color: white;
	text-align: center;
	line-height: 15px;

}
.main_content:nth-child(1) .content_top ul li:nth-child(3n){
	background-color: transparent;
	color: black;
}
.main_content:nth-child(1) .content_top a{
	color:gray;
	float: right;
	line-height: 32px;
	margin-right:5px;
}

.main_content:nth-child(1) .content_bottom {
	width: 100%;
}
.main_content:nth-child(1) .content_bottom ul{
	width: 100%;
}
.main_content:nth-child(1) .content_bottom ul li{
	float: left;
	width: 33.3333%;
}
.main_content:nth-child(1) .content_bottom ul li a{
	display: block;
	width: 100%;
	border-right: 1px solid gray;
}
.main_content:nth-child(1) .content_bottom ul li a img{
	display: block;
	width: 60%;
	margin: 0 auto;
}
.main_content:nth-child(1) .content_bottom ul li:last-child a{
	border-right: none;
}
.main_content:nth-child(1) .content_bottom ul li p:nth-child(2){
	text-align: center;
	padding: 3px 0;
	color: rgb(201,21,35);
	font-size: 12px;
}
.main_content:nth-child(1) .content_bottom ul li p:nth-child(3){
	text-align: center;
	padding: 3px 0;
	color:black;
	text-decoration: line-through;
	font-size: 12px;
}
.main_content:nth-child(n+2) .content_top{}
.main_content:nth-child(n+2) .content_top span{
	color: rgb(201,21,35);
	line-height: 32px;
	margin-left: 15px;
	position: relative;
}
.main_content:nth-child(n+2) .content_top span::before{
	content: "";
	position: absolute;
	top: 8.5px;
	left: -10px;
	width: 5px;
	height: 15px;
	background: rgb(201,21,35);
}
.main_content:nth-child(n+2) .content_bottom{
	width: 100%;
}
.main_content:nth-child(n+2) .content_bottom ul{
	width: 100%;
}
.main_content:nth-child(n+2) .content_bottom ul li{
	width: 50%;
}
.main_content:nth-child(n+2) .content_bottom ul li a{
	width: 100%;
	display: block;
}
.main_content:nth-child(n+2) .content_bottom ul li a img{
	width:100%;
	display: block;
}


